<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Это приложение - баскетбольный новостной сайт. <br>
	На нём публикуются статьи с новостями(заголовок/содержание), сортируемые по дате. <br>
	Зарегистрированные пользователи могут оставлять комментарии к новостям. <br>
	Пользователи могут: <br>
	* просматривать статьи <br>
	* оставлять комментарии к статье <br>
	* удалять собственные комментарии <br>
	* редактировать профиль <br>
	Администраторы могут то что и пользователи и также: <br>
	* публиковать статьи <br>
	* редактировать статьи <br>
	* удалять статьи <br>
	* удалять комментарии <br>
	<br>
	Планируется: <br>
	* добавить возможность пользователям голосовать за комментарий.(каждый может сделать это только раз за определённый комментарий) <br>
	* на каждом комментарии будет счётчик (например +3 или -2) <br>
	* если оценка комментария другими юзерами меньше -3, то текст комментария становится светло-серым(еле видным) <br>
</p>